.main {
  &-header {
    height: $headerheight;
    position: fixed;
    padding: 9px 18px;
    box-sizing: border-box;
    width: calc(100% - #{$sidebarwidth});
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  }
} 

.button {
  height: 22px;
  width: 22px;
  display: flex;
  padding: 4px;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  background-color: white;
  svg {
    display: block;
    width: 18px;
    color: gray;
  }
  &:hover {
    cursor: pointer;
    background-color: lightgray;
  }
}

.preview, .edit {
  margin-top: $headerheight;
  padding: 18px;
}

.preview {
  img {
    width: 100%;
  }
}

.edit {
  textarea {
    font-family: $monospace;
    width: 100%;
    border: 0;
    resize: none;
  }
}
