.sidebar {
  &-header {
    height: $headerheight;
    position: fixed;
    padding: 9px 18px;
    box-sizing: border-box;
    width: $sidebarwidth;
    background-color: white;
    box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.25);
  }
}

.note-list {
  margin-top: $headerheight;
  list-style: none;
  padding: 0;
  &-item {
    color: gray;
    padding: 9px 18px;
    border-bottom: 1px solid lightgray;
    &:hover {
      background-color: lightgray;
    }
    &.selected {
      background-color: grey;
      color: white;
    }
    .note-info {
    }
    .note-title {
    }
  }
}

