// Fonts
$monospace : Menlo, Monaco, Consolas, monospace;
$sans-serif : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Layout
$headerheight : 48px;
$sidebarwidth : 300px;
